:root {
  --default-box-shadow: 4px 4px 15px rgba(0,0,0,0.16);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	body {
		@apply overflow-hidden text-defaultBlack;
	}
	.mainHeaderDefaultWidth {
		@apply w-3/4 max-w-3xl mx-auto;
	}
}

@layer components {
	.outSystem {
		@apply p-8 h-screen w-screen;
	}
	.outSystem header {
		@apply mx-8 grid grid-cols-outSysHeader;
	}
	.outSystem header img {
		@apply h-8 my-2;
	}
	.outSystem header ul {
		@apply grid grid-cols-8 items-center justify-items-center;
	}
	.outSystem header ul li {
		@apply cursor-pointer;
	}
	.outSystem header ul li:hover:not(.headerButton) {
		@apply text-accentBlue;
	}
	.outSystem header ul li.headerButton {
		@apply bg-accentBlue text-white px-4 py-2 rounded-lg border-white border-2;
	}
	.outSystem header ul li.headerButton:hover {
		@apply opacity-75;
	}
	.outSystem main.homeContent {
		@apply mx-8 my-16 text-center;
	}
	.outSystem main.homeContent h1 {
		@apply text-4xl font-bold;
	}
	.outSystem main.homeContent img {
		@apply w-40 mx-auto my-4;
	}
	.outSystem footer {
		@apply mx-8 h-16;
	}
}
@layer components {
	.layout {
		@apply grid grid-cols-1 overflow-hidden;
	}
	.layout aside {
		@apply absolute w-full h-full z-10 bg-white overflow-hidden;
		left: -110%;
		transition: left 300ms;
		box-shadow: var(--default-box-shadow);
	}
	.layout .content {
		@apply h-screen w-screen overflow-x-hidden overflow-y-auto;
	}
	.layout .content header {
		@apply border-b top-0 sticky bg-white border-underlineWhite;
	}
	.layout .content header .logoHolder {
		@apply mainHeaderDefaultWidth py-4 grid grid-cols-inSysHeader items-center justify-items-start;
	}
	.layout .content header .logoHolder div {
		@apply w-full;
	}
	.layout .content header ul {
		@apply grid grid-cols-5 items-center justify-items-end;
	}
	.layout .content header ul li:not(.noHover):hover {
		@apply cursor-pointer text-accentBlue;
	}
	.layout .content header ul li svg {
		@apply mr-2 inline fill-current;
	}
	.layout .content header ul li span {
		@apply align-middle;
	}
	.layout .content header .logoHolder .alreadyMemberHeader {
		@apply text-right;
	}
	.layout .content header .logoHolder .alreadyMemberHeader .loginBtn {
		@apply cursor-pointer text-accentBlue ml-4;
	}
	.layout .content main {
		@apply w-full;
	}
	.layout .sidebarToggleBtn {
		width: 10%;
	}
	@screen md {
		.layout.sidebarVisible {
			@apply grid-cols-sidebar;
		}
		.layout aside {
			@apply h-screen z-10 left-0;
			position: initial;
		}
		.layout.sidebarVisible .content {
			@apply w-full;
		}
		.layout .sidebarToggleBtn {
			@apply hidden;
		}
		.layout .content header .logoHolder {
			@apply py-10;
		}
	}
}

@layer components {
	.optionsTree {
		@apply px-12 font-medium;
	}
	.optionsTree .level1Option {
		@apply my-10 font-medium text-xl;
	}
	.optionsTree .level2Option {
		@apply my-6 ml-12 text-base cursor-default flex items-center;
	}
	.optionsTree .level1Option > a .optionLabel, .optionsTree .level2Option > a .optionLabel {
		@apply cursor-pointer;
	}
	.optionsTree .current > a .optionLabel, .optionsTree .optionLabel:hover {
		@apply text-accentBlue;
	}
	.optionsTree .passed > .optionLabel {
		
	}
	.optionsTree .level2Option > a .optionBulletPoint {
		@apply flex-grow-0 flex-shrink-0 mr-4 pt-px inline-block w-6 h-6 rounded-full border-2 text-xs align-middle text-center border-inputGray;
	}
	.optionsTree .level2Option.current > a .optionBulletPoint {
		@apply text-accentBlue border-accentBlue;
	}
	.optionsTree .level2Option.passed > a .optionBulletPoint {
		@apply border-accentBlue bg-accentBlue text-accentYellow;
	}
}
@layer components {
	.companyBranding {
		@apply p-12 text-lg inline-block;
		width: 90%;
	}
	.companyBranding .companyLogo svg {
		@apply inline mr-2;
	}
	.companyBranding .companyName {
		@apply align-middle;
	}
}
@layer components {
	.formContainer.singleColumn {
		@apply mx-auto my-8 max-w-xs;
	}
	@screen sm {
		.formContainer.singleColumn {
			@apply max-w-md;
		}
	}
	.formContainer.singleColumn h1 {
		@apply font-medium text-4xl;
	}
	.formContainer.twoColumns {
		@apply my-16 mainHeaderDefaultWidth;
	}
	.formContainer.twoColumns h1 {
		@apply font-bold text-xl;
	}
	.formContainer.twoColumns h2 {
		@apply my-4 text-base text-accentBlue;
	}
	.formContainer.twoColumns p {
		@apply text-sm;
	}
	.formContainer.inPageBox {
		@apply text-base px-8 py-12 my-16 w-3/4 max-w-xl mx-auto text-center rounded;
		box-shadow: var(--default-box-shadow);
	}
	.formContainer.inPageBox p {
		@apply my-8;
	}
	.formContainer.inPageBox .sectionContainerContent {
		@apply text-left;
	}
	.formContainer.inPageBox .fieldContainer label {
		@apply font-semibold;
	}
	.formContainer.inPageBox .fieldContainer input {
		@apply h-16;
	}
	.formContainer.inPageBox .actionButton {
		@apply w-full h-16 bg-white text-defaultBlack border border-defaultBlack;
	}
	.formContainer.inPageBox .actionButton:not(:first-child) {
    @apply mt-8;
	}
	.formContainer.inPageBox .actionButton:last-child {
    @apply bg-accentBlue text-white border-none ;
	}
	.formContainer.popOutBox h1, .formContainer.inPageBox h1 {
		@apply font-semibold text-2xl text-center;
	}
	.formContainer.popOutBox .sectionContainerContent {
		@apply my-16;
		min-width: 24rem;
	}
	.formContainer.popOutBox input {
		@apply border-defaultBlack;
	}
	.formContainer.popOutBox .actionButton {
		@apply text-sm w-32 float-right;
	}
	.formContainer.popOutBox .actionButton:focus {
		@apply outline-none;
	}
	.formContainer.popOutBox .actionButton[type='button'] {
		@apply float-left bg-white text-defaultBlack border border-defaultBlack;
	}
}
@layer components {
	.sectionContainerLabel {
		@apply font-bold mt-16;
	}
	.singleColumn .sectionContainerContent {
		@apply my-8;
	}
	.twoColumns .sectionContainerContent {
		@apply grid gap-8 grid-cols-2 mt-4 mb-16;
	}
	.twoColumns .sectionContainerContent .fieldContainer:not(.halfWidth):not(.fullWidth) {
		@apply col-span-2;
	}
	@screen lg {
		.twoColumns .sectionContainerContent {
			@apply grid-cols-4 text-left;
		}
	}
}
@layer components {
	.actionButton {
		@apply bg-accentBlue text-white rounded w-48 h-10;
	}
	.actionButton:focus {
		@apply outline-none;
	}
	.singleColumn .actionButton {
		@apply mt-8 w-full;
	}
	.actionButton:hover {
		@apply opacity-75;
	}
}
@layer components {
	@keyframes shrinkField {
		0% {
			height: 8rem;
		}
		100% {
			height: 0px;
		}
	}
	@keyframes expandField {
		0% {
			height: 0px;
		}
		100% {
			height: 8rem;
		}
	}
	@keyframes shrinkSection {
		0% {
			height: 23rem;
		}
		100% {
			height: 0px;
		}
	}
	@keyframes expandSection {
		0% {
			height: 0px;
		}
		100% {
			height: 23rem;
		}
	}
  .fieldContainer label {
		@apply w-full mb-2 block;
	}
  .singleColumn .fieldContainer {
		@apply my-8;
	}
  .twoColumns .fieldContainer label {
		@apply font-bold;
	}
  .twoColumns .fieldContainer.fullWidth {
		@apply col-span-full;
	}
  .twoColumns .fieldContainer.collapsed, .twoColumns .sectionContainerContent.collapsed {
		@apply overflow-hidden hidden;
	}
	.twoColumns .fieldContainer.collapsing {
		@apply overflow-hidden;
		animation: shrinkField 300ms ease-out backwards;
	}
  .twoColumns .fieldContainer.expanded {
		animation: expandField 300ms ease-out forwards;
	}
	.twoColumns .sectionContainerContent.collapsing {
		@apply overflow-hidden;
		animation: shrinkSection 300ms ease-out backwards;
	}
  .twoColumns .sectionContainerContent.expanded {
		animation: expandSection 300ms ease-out forwards;
	}
  .twoColumns .sectionContainerContent.collapseController {
		@apply mb-8;
	}
	.fieldContainer input:not([type='radio']):not([type='checkbox']), .fieldContainer textarea, .fieldContainer select {
		@apply w-full p-2 h-8 text-sm border-solid border rounded border-inputGray outline-none;
		transition: border-color .3s;
	}
	.fieldContainer textarea {
		@apply h-32 resize-none;
	}
	.fieldContainer select {
		@apply py-0;
	}
	.twoColumns .fieldContainer.collapsed textarea, .twoColumns .fieldContainer.expanded textarea {
		@apply h-full;
	}
	.fieldContainer input:focus, .fieldContainer textarea:focus, .fieldContainer select:focus {
		@apply border-accentBlue;
	}
	.fieldContainer input::placeholder, .fieldContainer textarea::placeholder {
		@apply text-placeholderGrey;
	}
	.fieldContainer .inputRadioContainer, .fieldContainer .inputCheckboxContainer {
		@apply inline-block text-sm mr-4 cursor-pointer;
	}
	.fieldContainer .inputRadioContainer span, .fieldContainer .inputCheckboxContainer span {
		@apply mr-2;
	}
	.fieldContainer .inputRadioContainer input[type='radio'], .fieldContainer .inputCheckboxContainer input[type='checkbox'] {
		@apply cursor-pointer;
	}
	.fieldContainer .errorMessage {
		@apply text-errorRed text-sm h-1;
	}
}
@layer components {
	.modal {
		@apply px-16 py-8 absolute bg-white top-0 left-0 z-50 rounded;
		box-shadow: var(--default-box-shadow);
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.modal .customMessage {
		@apply text-center;
	}
	.modal .customMessage .text {
		@apply py-8;
	}
	.modal .info .text {}
	.modal .error .text {
		@apply text-errorRed;
	}
	.modal .customMessage .actionButton {
		@apply bg-white text-defaultBlack border border-defaultBlack;
	}
}
@layer components {
	.loadingOverlay {
		@apply absolute w-full h-full top-0 left-0 z-40 bg-overlay;
	}
	.loadingOverlay .loadingEllipsis {
		@apply z-50 inline-block relative w-20 h-20;
		top: calc(50% - 40px);
		left: calc(50% - 40px);
	}
	.loadingOverlay .loadingEllipsis div {
		@apply absolute w-3 h-3 rounded-full bg-white;
		top: 2rem;
		animation-timing-function: cubic-bezier(0, 1, 1, 0);
	}
	.loadingOverlay .loadingEllipsis div:nth-child(1) {
		left: 8px;
		animation: loadingEllipsisExpand 0.6s infinite;
	}
	.loadingOverlay .loadingEllipsis div:nth-child(2) {
		left: 8px;
		animation: loadingEllipsisMove 0.6s infinite;
	}
	.loadingOverlay .loadingEllipsis div:nth-child(3) {
		left: 32px;
		animation: loadingEllipsisMove 0.6s infinite;
	}
	.loadingOverlay .loadingEllipsis div:nth-child(4) {
		left: 56px;
		animation: loadingEllipsisShrink 0.6s infinite;
	}
	@keyframes loadingEllipsisExpand {
		0% {
			transform: scale(0);
		}
		100% {
			transform: scale(1);
		}
	}
	@keyframes loadingEllipsisShrink {
		0% {
			transform: scale(1);
		}
		100% {
			transform: scale(0);
		}
	}
	@keyframes loadingEllipsisMove {
		0% {
			transform: translate(0, 0);
		}
		100% {
			transform: translate(24px, 0);
		}
	}	
}

/* TRANSITIONS */
.fade-enter-active, .fade-leave-active {
  transition: opacity 300ms ease-out;
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
}
